.project-wrapper {
	display: flex;
	flex-direction: column;
	gap: 25px;
	align-items: center;
	width: 100%;
}
.project-section {
	display: flex;
	flex-wrap: wrap;
	gap: 25px;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: 50px;
	box-sizing: border-box;
}
.project-card {
	flex: 1 1 20%;
	height: 550px;
	perspective: 1000px;
	cursor: pointer;
	max-width: 450px;
}
.project-card h4 {
	font-size: 2rem;
}
.project-card p {
	font-size: 1.1rem;
	font-weight: 600;
}

.project-card .card-front,
.project-card .card-back {
	width: 100%;
	height: 100%;
	position: absolute;
	backface-visibility: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	border-radius: 10px;
	transition: transform 0.6s ease-in-out;
	flex-direction: column;
}
.contributions-link {
	position: absolute;
	bottom: 5px;
	right: 5px;
}

.project-card .card-front {
	background: linear-gradient(135deg, #667eea, #121212);
	color: white;
	font-size: 1.2em;
	font-weight: bold;
	transition: opacity 1.2s ease-in-out;
	justify-content: space-between;
	padding: 50px 0;
	box-sizing: border-box;
	align-items: center;
	gap: 25px;
}
.card-front h2 {
	font-size: 2.5rem;
}
.project-card .card-back {
	background: #fff;
	color: #333;
	transform: rotateY(180deg);
	padding: 15px;
	font-size: 1em;
	border: 1px solid #ddd;
	box-sizing: border-box;
	text-align: start;
	justify-content: space-between;
}

.project-card:hover .card-front {
	opacity: 0;
}

.project-card:hover .card-back {
	transform: rotateY(0);
}
.card-front img {
	width: 70%;
	height: auto;
	object-fit: cover;
	border-radius: 10px;
}
.contributions {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
	gap: 15px;
}
.contributions h4 {
	color: var(--text2);
}
