.about-section,
.clients-section {
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 50px;
	box-sizing: border-box;
	color: var(--text1);
}
p {
	font-size: 1.3rem;
}
.about-section {
	margin-top: 50px;
}
